/* palette (Stone from tailwindcss)
 50 #fafaf9
100 #f5f5f4
200 #e7e5e4
300 #d6d3d1
400 #a8a29e
500 #78716c
600 #57534e
700 #44403c
800 #292524
900 #1c1917 
*/

body {
  background-color: #292524;
}

.fact-form {
  background-color: #44403c;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  /* color: #fafaf9; */
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono", sans-serif;
  color: #fafaf9;
  background-color: #44403c;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
}

ul {
  list-style: none;
}
